DATAHUB_URL=https://polkadot-westend--rpc.datahub.figment.io/apikey/YOUR_API_KEY
MNEMONIC=YOUR_MNEMONIC_ACCOUNT
ADDRESS=YOUR_ADDRESS_ACCOUNT

PROXY_MNEMONIC=YOUR_MNEMONIC_PROXY
PROXY_ADDRESS=YOUR_ADDRESS_PROXY

TX_SEARCH_URL=https://polkadot-westend--search.datahub.figment.io/apikey/YOUR_API_KEY